@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scroll-area {
  overflow: auto;
}

.scroll-area::-webkit-scrollbar {
  display: none;
}

.scroll-area {
  scrollbar-width: none;
}

.scroll-area {
  -ms-overflow-style: none;
}

.loader {
  width: fit-content;
  font-weight: bold;
  font-family: sans-serif;
  margin-top: 1rem;
  font-size: 1.2rem;
  padding-bottom: 8px;
  color: #44403c;
  background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
  animation: l2 2s linear infinite;
}
.loader:before {
  content: "Loading Tasks";
}
@keyframes l2 {
  to {
    background-size: 100% 3px;
  }
}

.pageloader0 {
  height: 6px;
  width: 130px;
  --c: no-repeat linear-gradient(#1c1917 0 0);
  background: var(--c), var(--c), #fafaf9;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
